In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 936.1 kB/s eta 0:00:00MB/s eta 0:00:01
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.1.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/pg/Documents/Astral-Ray-Scratchpad/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/pg/Documents/Astral-Ray-Scratchpad/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 11.8 MB/s eta 0:00:00m eta 0:00:010:01:01
Using cached numpy-2.1.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 508.0/508.0 kB 14.4 MB/s eta 0:00:00 MB/s eta 0:00:01
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 8.0 MB/s eta 0:00:00[31m12.1 MB/s eta 0:00:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.3 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 10.3 MB/s eta 0:00:00[36m0:00:0136m0:00:01:01
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 13.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install astropy

Collecting astropy
  Downloading astropy-6.1.6-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (10 kB)
Requirement already satisfied: numpy>=1.23 in /home/pg/Documents/Astral-Ray-Scratchpad/.venv/lib/python3.12/site-packages (from astropy) (2.1.3)
Collecting pyerfa>=2.0.1.1 (from astropy)
  Downloading pyerfa-2.0.1.5-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.7 kB)
Collecting astropy-iers-data>=0.2024.10.28.0.34.7 (from astropy)
  Downloading astropy_iers_data-0.2024.11.11.0.32.38-py3-none-any.whl.metadata (5.1 kB)
Collecting PyYAML>=3.13 (from astropy)
  Using cached PyYAML-6.0.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.1 kB)
Requirement already satisfied: packaging>=19.0 in /home/pg/Documents/Astral-Ray-Scratchpad/.venv/lib/python3.12/site-packages (from astropy) (24.2)
Downloading astropy-6.1.6-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.3/10.3 MB 6.8 MB/s eta 0:00:00m eta 0:00:01:01:01
Downloading astropy_iers_data-0.2024.11.11.0.32.38-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 5.6 MB/s eta 0:00:00[31m5.2 MB/s eta 0:00:01
Downloading pyerfa-2.0.1.5-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (738 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 738.7/738.7 kB 6.6 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Using cached PyYAML-6.0.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (767 kB)
Installing collected packages: PyYAML, pyerfa, astropy-iers-data, astropy
Successfully installed PyYAML-6.0.2 astropy-6.1.6 astropy-iers-data-0.2024.11.11.0.32.38 pyerfa-2.0.1.5
Note: you may need to restart the kernel to use updated packages.

In [2]:
from datetime import datetime
import pandas as pd
from datetime import datetime, timedelta 
from constants.mongo import *
from pymongo import MongoClient
from astropy.io import fits
from astropy.table import Table

In [8]:
gti="/home/pg/Documents/Astral-Ray-Scratchpad/Pratham/XSM/example_files/ch2_xsm_20210827_v1_level2.gti"

In [9]:
def met_to_utc(met_seconds):
    mission_start_utc = datetime(2017, 1, 1, 0, 0, 0)
    utc_time = mission_start_utc + timedelta(seconds=met_seconds)
    return utc_time

In [10]:
with fits.open(gti, memmap=True) as hdu_list:
    # Extract the data from the second HDU (index 1) as a FITS_rec array
    hdu_data = hdu_list[1].data
    # Convert the FITS_rec array to a DataFrame
    df = pd.DataFrame(hdu_data)
    ## the outputs should be in two columns
    df['START']=df['START'].apply(met_to_utc)
    df['STOP']=df['STOP'].apply(met_to_utc)

In [11]:
df

                        START                       STOP
0  2021-08-27 00:00:00.893650 2021-08-27 00:00:59.893735
1  2021-08-27 00:32:38.888595 2021-08-27 01:59:04.874024
2  2021-08-27 02:30:41.866925 2021-08-27 03:57:10.849989
3  2021-08-27 04:28:43.842815 2021-08-27 05:55:16.826579
4  2021-08-27 06:26:45.820080 2021-08-27 07:53:22.804169
5  2021-08-27 08:24:48.797650 2021-08-27 09:34:32.783780
6  2021-08-27 09:34:33.783965 2021-08-27 09:51:29.781804
7  2021-08-27 10:22:50.775800 2021-08-27 11:49:37.760784
8  2021-08-27 12:20:53.754860 2021-08-27 13:47:45.739474
9  2021-08-27 14:18:56.733305 2021-08-27 15:45:53.717539
10 2021-08-27 16:16:59.711000 2021-08-27 17:22:14.697395
11 2021-08-27 17:35:17.696025 2021-08-27 17:44:02.695314
12 2021-08-27 18:15:02.690320 2021-08-27 19:42:12.676729
13 2021-08-27 20:13:05.670015 2021-08-27 20:19:19.668585
14 2021-08-27 20:29:46.665920 2021-08-27 21:21:10.658590
15 2021-08-27 21:21:11.658410 2021-08-27 21:40:23.656314
16 2021-08-27 22:11:09.670400 2021-08-27 23:16:36.658050
17 2021-08-27 23:29:38.656500 2021-08-27 23:38:34.655824

In [21]:
df

                        START                       STOP
0  2021-08-27 00:00:00.893650 2021-08-27 00:00:59.893735
1  2021-08-27 00:32:38.888595 2021-08-27 01:59:04.874024
2  2021-08-27 02:30:41.866925 2021-08-27 03:57:10.849989
3  2021-08-27 04:28:43.842815 2021-08-27 05:55:16.826579
4  2021-08-27 06:26:45.820080 2021-08-27 07:53:22.804169
5  2021-08-27 08:24:48.797650 2021-08-27 09:34:32.783780
6  2021-08-27 09:34:33.783965 2021-08-27 09:51:29.781804
7  2021-08-27 10:22:50.775800 2021-08-27 11:49:37.760784
8  2021-08-27 12:20:53.754860 2021-08-27 13:47:45.739474
9  2021-08-27 14:18:56.733305 2021-08-27 15:45:53.717539
10 2021-08-27 16:16:59.711000 2021-08-27 17:22:14.697395
11 2021-08-27 17:35:17.696025 2021-08-27 17:44:02.695314
12 2021-08-27 18:15:02.690320 2021-08-27 19:42:12.676729
13 2021-08-27 20:13:05.670015 2021-08-27 20:19:19.668585
14 2021-08-27 20:29:46.665920 2021-08-27 21:21:10.658590
15 2021-08-27 21:21:11.658410 2021-08-27 21:40:23.656314
16 2021-08-27 22:11:09.670400 2021-08-27 23:16:36.658050
17 2021-08-27 23:29:38.656500 2021-08-27 23:38:34.655824